{% extends 'app/Base.html' %}

{% block content %}
    <h1>About</h1>
<p> Jetties: Coastal Structures with Many Uses
A jetty is a structure that extends from the shoreline into a body of water. Typically made of rock, concrete, or wood, jetties are designed to influence the movement of water, sediment, or both. They are commonly found along coastlines, harbors, and river mouths.

How Jetties Work
Wave Breakers: Jetties can be used to protect shorelines from erosion by absorbing the energy of incoming waves.</p>
{% endblock content %}
